
body {
            
    font-size: 16px;
    line-height: 40px;
    font-style: italic;
    
}
h1 {
  font-size: 65px;
        color: orange;
    font-family: sans-serif;
    background-color: yellow;
}
ul {
    background-color: brown;
}
/* .cores1 {
    background-color: skyblue;
}*/
p {
    font-weight: 600;
    font-size: 3em;
    background-color: red;
}
/*Aqui no 4 foi solicitado criar a classe englobando ul e p. Mas deixarei o bckground no ul pq pede no exercício 3 \O/ */
